:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.main {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
