.container {
  border-radius: 16px;
  box-shadow: var(--toast-shadow, -2px 2px 20px 0 rgba(0 0 0 / 0.1));
}

.wrapper {
  display: grid;
  grid-template-columns: 68px 1fr min-content;
  align-items: center;
  gap: 10px;
  padding: 8px;
}

.title {
  text-align: center;
}

.count {
  font-size: 10px;
  line-height: 18px;
  color: #6200ee;
}

.button-clear {
  font-size: 10px;
  background: transparent;
  text-wrap: nowrap;
  border: none;
  color: #6200ee;

  &:hover {
    cursor: pointer;
  }
}
